Source: setnet
Section: unknown
Priority: optional
Maintainer: Vincenzo (KatolaZ) Nicosia <katolaz@freaknet.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: http://kalos.mine.nu/setnet 
#Vcs-Git: git://anonscm.debian.org/collab-maint/setnet.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/setnet.git

Package: setnet
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bash, dialog, iproute2, dhclient
Suggests: wpasupplicant
Description: simple bash+dialog tool to configure networks 
 setnet is a relatively simple bash+dialog tool to configure ethernet
 and wifi connections. 
